<div class="o-container">
  <h2 id="ui" class="c-heading-beta">toolkit-ui</h2>
  <ul class="o-list-inline  o-list-inline--wide">
    <li class="o-list-inline__item">
      <a href="#ui-typography">Typography</a>
    </li>
    <li class="o-list-inline__item">
      <a href="#ui-tables">Tables</a>
    </li>
    <li class="o-list-inline__item">
      <a href="#ui-bezel">Bezel</a>
    </li>
    <li class="o-list-inline__item">
      <a href="#ui-buttons">Buttons</a>
    </li>
    <li class="o-list-inline__item">
      <a href="#ui-forms">Forms</a>
    </li>
    <li class="o-list-inline__item">
      <a href="#ui-spinner">Spinner</a>
    </li>
    <li class="o-list-inline__item">
      <a href="#ui-menus">Menus</a>
    </li>
    <li class="o-list-inline__item">
      <a href="#ui-tiles">Tiles &amp; Panels</a>
    </li>
    <li class="o-list-inline__item">
      <a href="#ui-hero">Hero</a>
    </li>
  </ul>
</div>
