<div class="c-hero  c-hero--fit-content  c-hero--blackjack-intro">
  <div class="o-container">
    <div class="o-layout  o-layout--center">
      <div class="o-layout__item  u-width-1/2@medium">
        <section class="c-intro">
          <h1 class="c-heading-beta">Blackjack Guides</h1>
          <p>Learn how to use our CLI Toolbelt to quickly build applications and our CSS Toolkit to build consistent experiences. Also find out more about how we build and deplot our React applicaitons in a modular manner.</p>
          <a href="#1" class="c-btn  c-btn--secondary-invert">Start learning about Blackjack</a>
        </section>
      </div>
    </div>
  </div>
</div>

<section class="o-container  u-margin-bottom-large">
  <div class="o-layout">
    <div class="o-layout__item  u-width-1/3@medium">
      <article class="c-tile  c-tile--square  c-tile--principles">
        <a href="#0" class="c-tile__link  c-shine-context">
          <div class="c-tile__content  u-padding-top">
            <div class="u-vertical-center@medium">
              <p class="c-heading-gamma  u-text-center  u-margin-bottom-small">Toolkit</p>
              <p class="u-text-center">Design</p>
            </div>
          </div>
          <div class="c-shine c-tile__shine  c-tile__shine--top">
              <div class="c-shine__rail"></div>
          </div>
          <div class="c-shine c-shine--rev  c-tile__shine  c-tile__shine--bottom">
              <div class="c-shine__rail"></div>
          </div>
        </a>
      </article>
    </div>
    <div class="o-layout__item  u-width-1/3@medium">
      <article class="c-tile  c-tile--square  c-tile--principles">
        <a href="#0" class="c-tile__link  c-shine-context">
          <div class="c-tile__content  u-padding-top">
            <div class="u-vertical-center@medium">
              <p class="c-heading-gamma  u-text-center  u-margin-bottom-small">Toolbelt</p>
              <p class="u-text-center">CLI</p>
            </div>
          </div>
          <div class="c-shine c-tile__shine  c-tile__shine--top">
              <div class="c-shine__rail"></div>
          </div>
          <div class="c-shine c-shine--rev  c-tile__shine  c-tile__shine--bottom">
              <div class="c-shine__rail"></div>
          </div>
        </a>
      </article>
    </div>
    <div class="o-layout__item  u-width-1/3@medium">
      <article class="c-tile  c-tile--square  c-tile--principles">
        <a href="#0" class="c-tile__link  c-shine-context">
          <div class="c-tile__content  u-padding-top">
            <div class="u-vertical-center@medium">
              <p class="c-heading-gamma  u-text-center  u-margin-bottom-small">Components</p>
              <p class="u-text-center">React</p>
            </div>
          </div>
          <div class="c-shine c-tile__shine  c-tile__shine--top">
              <div class="c-shine__rail"></div>
          </div>
          <div class="c-shine c-shine--rev  c-tile__shine c-tile__shine--bottom">
              <div class="c-shine__rail"></div>
          </div>
        </a>
      </article>
    </div>
  </div>
</section>
