<div class="o-container  o-container--wide  u-margin-top-large  u-margin-bottom-large">
  <section class="c-tile  c-tile--intro">
    <div class="c-tile__content">
      <div class="o-container">
        <div class="o-layout">
          <div class="o-layout__item">
            <h2 class="c-heading-alpha">Introduction</h2>
          </div>
          <div class="o-layout__item  u-width-1/2@medium">
            <p>The Sky Digital Toolkit is the central resource for designers and developers to understand how to design and build digital products for Sky.</p>
          </div>
          <div class="o-layout__item  u-width-1/2@medium">
            <p>The Toolkit is provides design guidelines and assets as well as all the CSS needed for our design frameworks and the most commonly used components.</p>
          </div>
      </div>
    </div>
  </section>
</div>

<section class="o-container  u-margin-bottom-large">
  <div class="o-layout">
    <div class="o-layout__item  u-width-1/2@medium">
      <h3 class="c-heading-beta">Design principles</h3>
      <p class="u-text-constrain  u-margin-bottom-large">Grounded in our believe in better brand pillars, our design principles aim to develop a single unified language for our digital experiences.</p>
    </div>
  </div>
  <div class="o-layout">
    <div class="o-layout__item  u-width-1/3@medium">
      <article class="c-tile  c-tile--square  c-tile--principles">
        <a href="#0" class="c-tile__link  c-shine-context">
          <div class="c-tile__content  u-padding-top">
            <div class="u-vertical-center@medium">
              <p class="c-heading-gamma  u-text-center  u-margin-bottom-small">Beautiful</p>
              <p class="u-text-center">Spine Tingling</p>
            </div>
          </div>
          <div class="c-shine c-tile__shine  c-tile__shine--top">
              <div class="c-shine__rail"></div>
          </div>
          <div class="c-shine c-shine--rev  c-tile__shine  c-tile__shine--bottom">
              <div class="c-shine__rail"></div>
          </div>
        </a>
      </article>
    </div>
    <div class="o-layout__item  u-width-1/3@medium">
      <article class="c-tile  c-tile--square  c-tile--principles">
        <a href="#0" class="c-tile__link  c-shine-context">
          <div class="c-tile__content  u-padding-top">
            <div class="u-vertical-center@medium">
              <p class="c-heading-gamma  u-text-center  u-margin-bottom-small">Simple</p>
              <p class="u-text-center">Brilliantly Simple</p>
            </div>
          </div>
          <div class="c-shine c-tile__shine  c-tile__shine--top">
              <div class="c-shine__rail"></div>
          </div>
          <div class="c-shine c-shine--rev  c-tile__shine  c-tile__shine--bottom">
              <div class="c-shine__rail"></div>
          </div>
        </a>
      </article>
    </div>
    <div class="o-layout__item  u-width-1/3@medium">
      <article class="c-tile  c-tile--square  c-tile--principles">
        <a href="#0" class="c-tile__link  c-shine-context">
          <div class="c-tile__content  u-padding-top">
            <div class="u-vertical-center@medium">
              <p class="c-heading-gamma  u-text-center  u-margin-bottom-small">Intelligent</p>
              <p class="u-text-center">Game Changing</p>
            </div>
          </div>
          <div class="c-shine c-tile__shine  c-tile__shine--top">
              <div class="c-shine__rail"></div>
          </div>
          <div class="c-shine c-shine--rev  c-tile__shine c-tile__shine--bottom">
              <div class="c-shine__rail"></div>
          </div>
        </a>
      </article>
    </div>
  </div>
</section>
