---
layout: default
---

<section class="c-spectrum">
</section>

{% include intro.html %}

<ul class="o-list-block  u-margin-top">
  <li class="o-list-block__item">
    <a href="#core">toolkit-core</a>
    <ul class="o-list-block  u-margin-left">
      <li class="o-list-block__item">
        <a href="#core-colours">Colours</a>
      </li>
      <li class="o-list-block__item">
        <a href="#core-gradients">Gradients</a>
      </li>
      <li class="o-list-block__item">
        <a href="#core-elements">Elements</a>
      </li>
      <li class="o-list-block__item">
        <a href="#core-lists">Lists</a>
      </li>
      <li class="o-list-block__item">
        <a href="#core-layout">Layout</a>
      </li>
    </ul>
  </li>
  <li class="o-list-block__item  u-margin-top">
    <a href="#ui">toolkit-ui</a>
    <ul class="o-list-block  u-margin-left">
      <li class="o-list-block__item">
        <a href="#ui-typography">Typography</a>
      </li>
      <li class="o-list-block__item">
        <a href="#ui-tables">Tables</a>
      </li>
      <li class="o-list-block__item">
        <a href="#ui-bezel">Bezel</a>
      </li>
      <li class="o-list-block__item">
        <a href="#ui-buttons">Buttons</a>
      </li>
      <li class="o-list-block__item">
        <a href="#ui-forms">Forms</a>
      </li>
      <li class="o-list-block__item">
        <a href="#ui-spinner">Spinner</a>
      </li>
      <li class="o-list-block__item">
        <a href="#ui-menus">Menus</a>
      </li>
      <li class="o-list-block__item">
        <a href="#ui-tiles">Tiles &amp; Panels</a>
      </li>
      <li class="o-list-block__item">
        <a href="#ui-hero">Hero</a>
      </li>
    </ul>
  </li>
</ul>

<!-- Core partials -->
{% include _core/colours.html %}
{% include divider.html %}

{% include _core/gradients.html %}
{% include divider.html %}

{% include _core/elements.html %}
{% include divider.html %}

{% include _core/lists.html %}
{% include divider.html %}

{% include _core/layout.html %}
{% include divider.html %}

<!-- UI partials -->
{% include _ui/typography.html %}
{% include divider.html %}

{% include _ui/tables.html %}
{% include divider.html %}

{% include _ui/bezel.html %}
{% include divider.html %}

{% include _ui/buttons.html %}
{% include divider.html %}

{% include _ui/forms.html %}
{% include divider.html %}

{% include _ui/spinner.html %}
{% include divider.html %}

{% include _ui/menus.html %}
{% include divider.html %}

{% include _ui/tiles.html %}
{% include divider.html %}

{% include _ui/hero.html %}
{% include divider.html %}
