<div class="o-container">
  <h1 id="toolkit" class="c-heading-alpha">Toolkit</h1>
  <h2 id="core" class="c-heading-beta">toolkit-core</h2>
    <ul class="o-list-inline  o-list-inline--wide">
      <li class="o-list-inline__item">
        <a href="#core-colours">Colours</a>
      </li>
      <li class="o-list-inline__item">
        <a href="#core-gradients">Gradients</a>
      </li>
      <li class="o-list-inline__item">
        <a href="#core-elements">Elements</a>
      </li>
      <li class="o-list-inline__item">
        <a href="#core-lists">Lists</a>
      </li>
      <li class="o-list-inline__item">
        <a href="#core-layout">Layout</a>
      </li>
    </ul>
</div>
